/vendor/
/.idea
/example/*
/build/*
/composer.lock
/skeleton/bootstrap/cache/*
!/skeleton/bootstrap/cache/.gitkeep
/skeleton/storage/app/OpenImmo/*
/skeleton/storage/framework/testing/*
!/skeleton/storage/app/OpenImmo/.gitkeep
/skeleton/storage/app/Dtos/*
!/skeleton/storage/app/Dtos/.gitkeep
/.phpunit.cache/
/build/
docs/.vitepress/dist/
docs/.vitepress/cache/
/node_modules
.DS_Store
